@{
    ViewBag.Title = "Home Page";
}

<br/>
<br />
<br />
<div class="row">
    <div class="col-md-6">
        <h2>Organise your tasks</h2>
        <p>
            That’s one of many reasons why having a to-do list can improve your work and personal life. To-do lists have never been as important for the modern knowledge worker.
        </p>
        <p>
            You can use one to reduce the stress in your life and get more done in less time. It also lets you become more reliable for other people and save time for the best things in life.
        </p>
        <h5>No need to keep all in memory</h5>
        <p> Nobody is capable of remembering everything at all times. To-do lists are a useful external memory aid that give you permission to forget. As long as you can remember to look at your to-do list, you will never lose anything that you have recorded on it.</p>
        <h5>Improve productivity</h5>
        <p>How often have you been doing one thing while thinking about what you need to be doing next, or worrying about what you might have forgotten? When you know that you can quickly refer to an organized to-do list, you'll find that you can focus your attention on the activity that you are involved in - you'll enjoy life more and be more productive.</p>
        <p><a class="btn btn-dark" href="/account/login">Login</a></p>
    </div>    
    <div class="col-md-6">
        <img src="~/Content/Images/example.png" alt="Example of using" style="display:block; margin-left: auto; margin-right: auto;"/>
    </div>
</div>