@model IEnumerable<ToDoList.Models.TaskToDo>

@{
    ViewBag.Title = "Hashtag";
}

<h2>Tasks with hashtag</h2>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        @foreach (var task in Model)
        {
            <div class="card task">
                <div class="card-body">
                    <img class="card-img-bottom" style="width: 30px " src="~/Content/Images/task_icon.png" alt="Task image">
                    <span style="margin-left: 10px" id="@task.Id">@Html.Raw(task.Description)</span>
                    <img class="card-img-bottom delete-icon" style="width: 25px; margin-left: 10px; float: right;" src="~/Content/Images/delete_icon.png" alt="Delete image">

                    @if (task.IsFavorite)
                    {
                        <img class="card-img-bottom favorite-icon" style="width: 25px; float: right;" src="~/Content/Images/favorite_icon.png" alt="Favorite image">
                    }
                    @if (!task.IsFavorite)
                    {
                        <img class="card-img-bottom favorite-icon" style="width: 25px; float: right;" src="~/Content/Images/not_favorite_icon.png" alt="Not favorite image">

                    }

                </div>
            </div>
        }
    </div>
    <div class="col-md-2">
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    function changeFavoriteValue(taskId, currentFavoriteIconElem) {
        $.ajax({
            type: "POST",
            url: "/tasks/changefavoritevalue/",// + taskId,
            data: "{'taskId':'" + taskId + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function () {
            var currentIcon = currentFavoriteIconElem.attr('src');
            if (currentIcon.endsWith('not_favorite_icon.png')) {
                currentFavoriteIconElem.attr('src', '/Content/Images/favorite_icon.png');
            }
            else {
                currentFavoriteIconElem.attr('src', '/Content/Images/not_favorite_icon.png');
            }
        });

    }

    function deleteTask(taskId, taskElem) {
        $.ajax({
            type: "POST",
            url: "/tasks/deletetask/",// + taskId,
            data: "{'id':'" + taskId + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function () {
            alert('success');
            taskElem.hide();
        });

    }


    $(function () {

        $('.folder').each(function () {
            var folderId = $(this).find('span').first().attr('id');
            $(this).click(function () { window.location.href = '/tasks/folder/' + folderId; });
        });

        $('.task').each(function () {
            var taskId = $(this).find('span').first().attr('id');
            $(this).click(function () {
                window.location.href = '/tasks/edit/' + taskId;
            });
        });

        $('.favorite-icon').each(function () {
            var iconElem = $(this);
            var taskId = iconElem.siblings('span').first().attr('id');
            iconElem.click(function (event) {
                event.stopPropagation();
                changeFavoriteValue(taskId, iconElem);
            });
        });

        $('.delete-icon').each(function () {
            var iconElem = $(this);
            var taskElem = iconElem.parents('.task').first();
            var taskId = iconElem.siblings('span').first().attr('id');
            iconElem.click(function (event) {
                event.stopPropagation();
                deleteTask(taskId, taskElem);
            });
        });
    });
</script>